@font-face
{
    font-family: SinglePoint;
    src: url('fonts/SinglePoint.eot') format('embedded-opentype'),
         url('fonts/SinglePoint.ttf') format('truetype');
}

@font-face
{
    font-family: UnitFont;
    src: url('fonts/UnitFont.eot') format('embedded-opentype'),
         url('fonts/UnitFont.ttf') format('truetype');   
}

@font-face
{
    font-family: TacticalGraphics;
    src: url('fonts/TacticalGraphics.eot') format('embedded-opentype'),
         url('fonts/TacticalGraphics.ttf') format('truetype');   
}

body 
{
    font-family: UnitFont, SinglePoint, TacticalGraphics, Arial;
}
